@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');
/* check out https://fonts.google.com/specimen/Roboto for info on the different weights available */
@import url('https://fonts.googleapis.com/css2?family=Dancing+Script:wght@400;500;600;700&display=swap');
/* https://fonts.google.com/specimen/Dancing+Script */


*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
}

html {
    font-size: 13pt;
}

.divright{
    border-style: solid;
}

.container{
    display: flex;
}

.calendar{
    width: calc(100% - 5vw);
    height: 100%;
    background-color: white;
    position: fixed;
    right: 0;
    z-index: 2;
}

.tabs {
    position: fixed;
    left: 0;
    width: 4.3vw;
    /* top: calc(100% - 15vw - 19px - 55vh); */
    top: 80px;
}

.tabs button {
    z-index: 1;
    width: 5vw;
    height: 5vw;
    padding-right: 100px;
    padding-left: calc((5vw / 2) - 1vw); /* artificially center letter */
    margin-bottom: 5px;
    background-color: white;
    color: black;
    border: inset white;
    font-size: 2.2vw;
    /*text-shadow: -4px 3px 0 grey;*/
    border-radius: 4px;
}
/*.tab button [title~=Darkmode]
{
    padding-left: 10px;
    padding-right: 0px;
}
.tabs .button span{
    z-index: 1;
    width: 5vw;
    height: 5vw;
   
    padding-left: 0px; /* artificially center letter
    margin-bottom: 5px;
    background-color: white;
    color: black;
    border: inset white;
    font-size: 2.2vw;
    text-shadow: -4px 3px 0 grey;
    border-radius: 4px;
}

/*The area in which the title, month name and date are stored.*/
.month{
    width: calc(100% - 5vw);
    right: 0;
    height: 80px;
    background-color: rgb(225, 40, 40);
    align-items: center;
    text-align: center;
    display: flex;
    position: fixed;
    color: rgb(255,255,255);
}

.header{
    width: 329px;
    height: 80px;
    margin: auto;
}

.date{
    /* max width of box is 262 and default height is 74.8 */
    width: 262px;
    margin: 2.6px 33.39px;
    padding-left: 2.75px;
    position: fixed;
    align-self: center;
}

/*Here are the arrows at the side of the main calendar*/
.arrow {
    border: solid white;
    margin-top: 30px;
    display: inline-block;
    padding: .5rem;
    color: rgb(255,255,255);
  }
  
.right {
    transform: rotate(-45deg);
    -webkit-transform: rotate(-45deg);
    border-width: 0 4px 4px 0;
    margin-left: 140px;
    position: fixed;
    color: rgb(255,255,255);
  }

.left {
    transform: rotate(45deg);
    -webkit-transform: rotate(45deg);
    border-width: 0 0 4px 4px;
    margin-left: -164px;
    position: fixed;
  }

/*Arrows Stuff ends....*/

/*The Month itself "September" etc.*/
.month h2{
    font-size: 2rem;
    margin-top: 7px;
    font-weight: 400;
    /* font-weight: 700;
    font-family: 'Dancing Script', 'Roboto', sans-serif; */
}

/*The Date "Sun September 27, 2020"*/
.month p{
    font-size: 1rem;
    font-style: italic;
}
/*weekdays container*/
.weekdays{
    margin: 80px 0 0 1vw;
    width: calc(100% - 5vw);
    right: 0;
    height: 40px;
    background: rgba(199, 199, 199,0.65);
    display: flex;
    align-items: center;
    position: fixed;
}


/*27      28      29    ...etc*/
.weekdays div{
    font-size: 1.1rem;
    font-weight: 500;
    width: calc(100% / 7); /*the main container width (minus the weekdays padding) divided by the number of days in a week*/
    display: flex;
    justify-content: left;
    align-items: center;
    /*background: rgba(199, 199, 199,0.20);*/
}

.days{
    margin: 120px 0 0 0;
    width: 100%;
    float:right;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
}

.days div {
    font-size: 1rem;
    /* margin-left: calc(1vw / 7); */
    width: calc(100% / 7);
    height: calc((100vh - 120px) / 5);
    border-style: solid;
    border-width: thin;
    border-color: rgb(199,199,199,0.65);
}

.event {
    padding: 2px;
    list-style-type: none;
}

div .active{
    background-color: rgba(255,40,40,0.80);
    border-color: rgba(255,40,40,0.80);
    color:white;
}

.next-date{
    color: grey;
}

.prev-date{
    color: lightgrey;
}

.days div:hover{
    border-style: solid;
    border-width: thin;
    border-color: red;
}
.note{
    text-align: center;
}

div .select{
    border-style: solid;
    border-width: thick;
    border-color: rgb(255, 0, 191);
}
.note{
    text-align: center;
}

/* DARK MODE THINGS BEGIN-SETUP ONLY, NOT IMPLEMENTED JUST YET*/
.calendar .darkmode {
    background-color: rgba(0,0,0,0.8);
    color:white;

}

div .active .darkmode{
    background-color: rgba(0,0,0,0.40);
    border-color: rgba(255,40,40,0.80);
    color:white;
}

.weekdays .darkmode {
    background-color: rgba(199, 199, 199,0.5);
}
.days .darkmode{
    color:white;
}
/* DARK MODE THINGS END-IMAGE IS ON THE DISCORD SERVER, GENERAL/PINS*/

/*Month-Week-Day Buttons, no functionality currently - 3-4-2021*/
/* .MWD-Buttons{
    align-items: center;
    width: 15vw;
    height: 3vw;
}

.buttonList li{
    display: inline;
    padding-right: 0.01vw;
}

.MWD{
    width: calc(5vw - 0.01vw);
    height: 3vw;
    border-style: outset;
    border-width: bold;
    background-color:#F10020;
    border-color: #be041d;
}

.MWD:hover{
    border-style: inset;
} */
