@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');
/* check out https://fonts.google.com/specimen/Roboto for info on the different weights available */
@import url('https://fonts.googleapis.com/css2?family=Dancing+Script:wght@400;500;600;700&display=swap');
/* https://fonts.google.com/specimen/Dancing+Script */

*{
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
}

#rectangle{
    box-sizing: border-box;
    width:span;
    height:100px;
    background:rgb(225, 40, 40);
    color: white;
    text-align: center;
    font-family: 'Roboto', sans-serif;
}

.notif{
    font-family: 'Roboto', sans-serif;
}