@import "../Prototyping/css/standard.css";
@import "../Prototyping/css/sidebar.css";
@import "../Prototyping/css/footer.css";

@import url('https://fonts.googleapis.com/css2?family=Dancing+Script&display=swap');

body {
	margin: 0;
	padding: 0;
	background-color: #FFF7F5;
	color: black;
}

.header {
	height: 50px;
	width: 100%;
	z-index: -1;
	float: center;
	background-color: rgb(199, 33, 33);
	font-family: Dancing Script;
	font-weight: bold;
	font-size: 180%;
	color:white;
	text-align:center;
	display:block;
	/*align-content: center;*/
	text-align-last: center;
}


/* Header extra css - delete if necessary after page and db are linked fully
If we put more stuff to the header kind of like a navbar
this stuff would be used, its ready for that case */
/* commented out for footer functionality, add ids/classes if used instead of
   applying to all elements */
/* ul {
	list-style-type: none;
	margin: 0%;
	padding: 0%;
	overflow: hidden;
}

li {
	float: left;
}

li a {
	display: block;
	color: white;
	text-align: center;
	padding: 14px 16px;
	text-decoration: none;
}

li a:hover {
	background-color: #db1204;
} */

/*end Header extra css*/

div.class {
	display: inline-block;
	border-radius: 5px;
	background-color: white;
	height: 180px;
	width: 280px;
	margin: 10px 0 0 10px;
	cursor: pointer;
	padding: 10px;
	overflow: hidden;
	text-overflow: ellipsis;
	box-shadow: 5px 5px 5px #E2E1E0;
}

.class:hover {
	background-color: #c7c7c7;
}

#classes-ctn {
	margin-bottom: 35px;
}

.class h2, .class h3, .class h4, .class h5, .class h6, .class p {
	margin: 0;
}

.course-id {
	display: inline;
	font-size: 1.5rem;
	padding: 0;
}

.section-num {
	float: right;
	font-size: 1rem;
	padding-top: 0.5rem;
}

.class h3 {
	font-weight: 600;
}

.class h4 {
	font-size: 0.9rem;
	font-weight: 400;
}

.class h4 b {
	font-weight: 500;
}

.option-do {
    color: black;
    padding-left: 10px;
}

.fullview {
	height: 380px;
	width: 380px;
	position: fixed;
	top: calc(50% - 190px);
	left: calc(50% - 190px);
	background-color: white;
	z-index: 5;
	padding: 10px;
	border-radius: 10px;
	display: none;
}

/*
body .darkmode {
	background-color: #333
}

.option-do .darkmode {
    color: white;
}
*/