html,
body {
  height: 100%;
}

body {
 /* display: -ms-flexbox;
  display: flex;
  -ms-flex-align: center;*/
  align-items: center;
  /*padding-top: 40px;
  padding-bottom: 40px;*/
  background-color: #f5f5f5;
}

h1 {
 /* display: block;
  margin-top: 20px;
  margin-bottom: 10px;
  margin-left: auto;
  margin-right: auto;
  border-style: inset;
  border-width: 1px;
  color: rgb(255, 60, 50);*/
  font-family: Dancing Script;
  font-weight: bold;
  font-size: 5em;
  color:red;
  margin: auto;
  text-align: center;
  box-sizing: border-box;
}


.column {
   
  float: left;
  width: 50%;
  align-items: center;
  height: 100%;
}

.row {
  width: 100%;
  display: flex;
  margin: 0;
}

.row::after {
  content: "";
  display: block;
  margin-left: 0em;
  margin-right: 0em;
  clear: both;

}

.form-signin {
  width: 55%;
  display: block;
  margin: auto;
  /*color: rgb(255, 99, 71);*/
}

.form-signin img{
  width: 20%;
  margin: auto;
  /*padding-top: 10px;*/
}

.form-signin .auth-form-body {
  padding: 1em;
  background-color: rgb(255, 40, 40);
  border-top: 1px solid #d8dee2;
  border-radius: 5px;
  color: rgb(240, 240, 240);
}
.form-signin .checkbox {
  font-weight: 400;
}
.form-signin .checkbox .form-check{
  float: left;
}
.form-signin .checkbox .label-link{
  float: right;
}
.form-signin .form-control {
  position: relative;
  box-sizing: border-box;
  
  padding: 8px;
  font-size: 14px;
  /*color: rgb(255, 99, 71);*/
}
.form-signin .form-control:focus {
  z-index: 2;
}
.form-signin input[type="email"] {
  margin-bottom: 10px;
  border-bottom-right-radius: 0;
  border-bottom-left-radius: 0;
}
.form-signin input[type="password"] {
  margin-bottom: 10px;
  border-top-left-radius: 0;
  border-top-right-radius: 0;
}
.form-signin input[type="password2"] {
  margin-bottom: 10px;
  border-top-left-radius: 0;
  border-top-right-radius: 0;
}