<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>##Login Page</title>
  
    <!-- Bootstrap core CSS -->
    <link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.1/css/bootstrap.min.css">
    <link rel="stylesheet" href="loginStyle.css">
    <script src="//maxcdn.bootstrapcdn.com/bootstrap/3.3.1/js/bootstrap.min.js"></script>
  
    <!-- Custom styles for this page -->
    <link rel="stylesheet" href="../css/login.css">
    <link href="https://fonts.googleapis.com/css2?family=Dancing+Script&display=swap" rel="stylesheet">
  </head>
  
  <body>
  
  
    <form class="form-signin" method="POST">
      <div class="auth-form-header text-center">
          <h1>Exalendar</h1>
        <h4 style="color:black;">Sign in</h4>
      </div>
      <div class = "auth-form-body" style="width: 10vw; margin-left:10vw;">
        <form style="transform: translateX(50%);">
            <button class="logStyle-Button" style="transform: translateX(83%); margin-bottom: 1vw;" type = "submit" formaction= "https://bit.ly/2RZEC2D"><p class="buttonText" style="color:black;  transform: translateY(20%);">RPI Login</p></button>
        </form>
        <br>
        <form style="transform: translateX(50%);">
            <button class = "logStyle-Button" style="transform: translateX(-50%);" type="submit" formaction= "login"><p class="buttonText" style="color:black;  transform: translateY(20%);">Login</p></button>
        </form>
      </div>
      <br>
      <p class="mt-5 mb-3 text-muted text-center">&copy; Spring 2020</p>
    </form>
  </body>
</html>

<!-- Kyra Spring 2021: Created from the need to have a login page that aligns more with our intention to link to the RCSID Login System and redirect back to Exalendar once logged in there-->
<!-- Login Primary was altered from Login using code from Sign up cause of the red box style, please note that these pages suffer from long loading times -->
<!-- Could just be my machine but I recommend we move on to using CSS style sheets that are all contained in the repository, with as few uses as possible from online styles/fonts -->
<!-- The page isn't clean but it has the basic essentials, it doesn't link to the RPI RSCID page since we haven't implemented it yet, but the second button leads to the standard login-->
