<!--Kyra Sanchez Fall 2020-->
<!-- Harshita Garg Spring 2021 -->

<!DOCTYPE html>
<html lang = "en">
	<head>
		<meta charset = "">
		<meta name = "viewport"
		content = "width =device-width,
		initial-scale = 1.0">
		<title>Calendar | Exalendar</title>

		<link rel = "stylesheet" href="../css/main.css"/>
		<link rel = "stylesheet" href="../css/footer.css"/>
		<link rel = "stylesheet" href="../css/sidebar.css"/>
		<!-- <link href="https://fonts.googleapis.com/css2?family=Secular+One&display=swap" rel="stylesheet"> -->
	</head>
	<body onload="loadMain()"><!---------------------------------------------------MAIN CONTENTS BEGIN-------------------------------------------------------------------------------->
		<div id="modal"></div>
		<!--SIDEBAR (this contains the menus on the left)-->
		<!--At the moment only the calendar moves, notes do not. The header with monthly/weekly etc. does not move yet-->
		<div id="sidebar">
			<button id="buttonBar" style="border-color: rgb(199, 40, 40)" onclick="opencloseNav()">☰</button><!--Generic menu button with 3-bars you know how it be-->
			<h2 style="margin-top:20px;">Exalendar Menu</h2>
			<ul id="exalendarMenu"> <!--The 50x50.png does not actually exist here, fill with actual image file name/path-->
				<li><img src="./media/50x50.png" class="menuIcon">&nbsp;&nbsp;Dashboard</li>
				<li><img src="./media/50x50.png" class="menuIcon">&nbsp;&nbsp;Calendar</li>
				<li><img src="./media/50x50.png" class="menuIcon">&nbsp;&nbsp;Other Page</li>
				<!--feel free to add to the list and fill with relevant links and icons to other pages-->
			</ul>
			<h2>Other Menu</h2>
			<ul>
				<li><img src="./media/settings-icon.png" class="menuIcon">&nbsp;&nbsp;Preferences</li>
				<li><img src="./media/signout.png" class="menuIcon">&nbsp;&nbsp;Logout</li>
				<!--feel free to add to the list and fill with relevant links and icons to other pages-->
			</ul>
		</div>
		<script type="module" src="./js/sidebar.js"></script>
		<!--SIDEBAR END-->
		<!--CALENDAR IS CORRECT, THE DAYS AND WEEK WORK CORRECTLY. DO NOT CHANGE THE JS IT WORKS PERFECTLY-->
		<iframe class="calendar" src="./calendar" ></iframe>
		<!-- TODO fix issues with sidebar z index over add event and modal effect -->
		<div id="addevent-menu">
			<button onclick="closeAddEvent()">X</button>
			<h3>Add Event</h3>
			<div id="content-box">
			<form action="/submit-event" method="post">
				<label for="eclass">Class:</label>
				<select name="eclass">
					<option disabled selected>Choose class</option>
					<option value="tbd">Program in classes as appropriate for user</option>
				</select><br/>
				<label for="ename">Event Name:</label>
				<input type="text" name="ename"/><br/>
				<label for="edate">Date:</label>
				<input type="date" name="edate"/>
				<label for="etime">Time:</label>
				<input type="time" name="etime"/><br/>
				<label for="etype">Type:</label>
				<select name="etype">
					<option disabled selected>Choose event type</option>
					<option value="homework">Homework</option>
					<option value="quiz">Quiz</option>
					<option value="testexam">Test/Exam</option>
					<option value="project">Project</option>
				</select><br/>
				<label for="edetails">Details:</label><br/>
				<textarea name="edetails"></textarea><br/>
				<input type="submit" value="Submit">
			</form>
			<!-- <button onclick="document.getElementById('addevent-form').submit()">Submit</button> -->
			</div>
		</div>
		<div class="noteContain"><!--Notes and Events are on the right of this div-->
			<h1 class="noteHeader">Exalendar </h1>
			<h2 class="center-header">
				<button id="addevent-btn" onclick="openAddEvent()">+</button>
				<span id = "noteDate">a</span></h2> 
				<!--javaScript changes displayed date MM/DD/YYYY to current (by default) OR selected day-->
			<!--Please Note that this sidebar intends to display events happening on the current/selected day, so remember to add functionality to that and connect it to some database for the user's events-->
			<hr>
			<div class="noteLeft" style = "float: left;">

				<!--Basically it should Contain the Event's Name, the Timespan of the Event & the Event Tier, these lists might be gotten rid for better visual/functioning replacements but the function of the
				side Event and Notes bar should remain the same-->
				<ul>
					<label class="noteList"><h3 style="color: black;">Events</h3></label>
					<li class="noteList">Event 1 - all day</li>
					<li class="noteList">Event 2 - 12PM - 3PM</li>
					<li class="noteList"> </li>
					<li class="noteList"> </li>
					<li class="noteList"> </li>
				</ul>
			</div>
			<div class="noteRight" style = "float: right;">
				<ul>
					<label class="noteList"><h3 style="color: black">Tier</h3></label>
					<li class="noteList">Low</li>
					<li class="noteList">High</li>
					<li class="noteList"> </li>
					<li class="noteList"> </li>
					<li class="noteList"> </li>
				</ul>
			</div>
		</div>
		<!---------------------------------------------------MAIN CONTENTS END---------------------------------------------------------------------------------->
		<script src="../js/mainPage.js"></script>
		</body>
		
		<footer class="footer">
			<nav class="menu">
				<ul>
					<li><a href = "../profile.html">Home</a></li> <!--The home page, should be linked once finished-->
					<li><a href="https://github.com/NatSR4/Exalendar/wiki/What-is-Exalendar%3F" target="_blank">About</a></li> <!--The 'About' page, probably just a page with the general mission of Exalendar, maybe a table of contents for those who wish to be on it and their comments if any,
						something to make the site feel like there's been love and effort put into it. HG: Just gonna link it to the wiki for now, someone link it to the actual about page if/when we have one. -->
					<li><a href= "https://rcos.io/" target= "_blank">RCOS</a></li> <!--If the RCOS page changes, make sure to update this-->
					<li><a href= "https://github.com/NatSR4/Exalendar" target = "_blank" id="gitcat" title="GitHub" aria-label="GitHub"><img src="../media/gitcat.svg"/></a></li> <!--Obligitory github link :) -->
				</ul>
				<span>&copy; 2021 | Exalendar</span>
			</nav>
		</footer>
		
</html>
