<!DOCTYPE html>
<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8">
		<title>Profile page</title>
		<!-- Bootstrap core CSS -->
	  <link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.1/css/bootstrap.min.css">
	  <script src="//maxcdn.bootstrapcdn.com/bootstrap/3.3.1/js/bootstrap.min.js"></script>

	  <!-- Custom styles for this page -->
	  <link rel = "stylesheet" href="css/profile.css"/>
	  <link rel = "stylesheet" href="css/footer.css"/>

	  <link href="https://fonts.googleapis.com/css2?family=Dancing+Script&display=swap" rel="stylesheet">
	</head>
	<body style="background-color: rgba(225, 40, 40,0.1)">
		<h1 style=""> Exalendar </h1>
		<a href="main.html">Calendar</a>
		<a href="./Professors">Professor</a>


	</body>
	<footer class="footer">
		<nav class="menu">
			<ul>
				<li><a href="profile.html">Home</a></li> <!--The home page, should be linked once finished-->
				<li><a href="../about">About</a></li> <!--The 'About' page, probably just a page with the general mission of Exalendar, maybe a table of contents for those who wish to be on it and their comments if any,
					something to make the site feel like there's been love and effort put into it. HG: Just gonna link it to the wiki for now, someone link it to the actual about page if/when we have one. -->
				<li><a href= "https://rcos.io/" target= "_blank">RCOS</a></li> <!--If the RCOS page changes, make sure to update this-->
				<li><a href= "https://github.com/NatSR4/Exalendar" target = "_blank" id="gitcat" title="GitHub" aria-label="GitHub"><img src="media/gitcat.svg"/></a></li> <!--Obligitory github link :) -->
			</ul>
			<span>&copy; 2021 | Exalendar</span>
		</nav>
	</footer>
</html>