
body { 
    margin: 0; 
    padding: 0;
    background-color: #333 
  }

.header {
    height: 50px;
    width: 100%;
    z-index: -1;
    float: center;
    background-color: rgb(199, 33, 33);
    font-family: Dancing Script;
    font-weight: bold;
    font-size: 180%;
    color:white;
    text-align:center;
    display:block;
    /*align-content: center;*/
    text-align-last: center; 
}


/* Header extra css - delete if necessary after page and db are linked fully
If we put more stuff to the header kind of like a navbar 
this stuff would be used, its ready for that case */
ul {
  list-style-type: none;
  margin: 0%;
  padding: 0%;
  overflow: hidden;
  
}

li {
  float: left;
}

li a {
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

li a:hover {
  background-color: #db1204;
}

/*end Header extra css*/


/*SIDEBAR*/

#buttonBar{
    width: 2.5vw;
    height: 2.5vw;
    position: fixed;
    top: 19px;
    left: 1vw;
    background-color: rgb(0, 0, 0);
  border color: 2px solid white;
    border: 0;
    color: white;
  transition-duration: 0.4s;
    font-size: 1.1vw;
}

#buttonBar:hover {
  background-color: rgb(0,0,0);
  color: white;
}


#sidebar{
    position: fixed;
    left: 0;
    top: 0;
    z-index: 2;
    width: 0;
    height: 100%;
    background-color: var(--sidebar);
    overflow-x: hidden;
    transition: 0.4s;
}

#sidebar h2{
    text-align: center;
    color: white;
    font-size: 20px;
    font-weight: 100;
}

.menuIcon{
    height: 1rem;
    width: 1rem;
}

#sidebar li {
    margin: 0 0 1px 1.5vw;
    list-style: none;
}

#sidebar ul {
    margin: 4px 0 7px 0;
}

/*End sidebar things*/

:root {
    --sidebar: rgb(199, 33, 33);
}

