<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <title>Signup Page</title>

  <!-- Bootstrap core CSS -->
  <link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.1/css/bootstrap.min.css">
  <script src="//maxcdn.bootstrapcdn.com/bootstrap/3.3.1/js/bootstrap.min.js"></script>

  <!-- Custom styles for this page -->
  <link rel="stylesheet" href="/signupcss">
</head>

<body>

  <form class="form-signin" method="post">
    <div class="auth-form-header text-center">
       <a href="/"><img class="mb-4" src="/img"></a>
      <h2><a href="/" style="text-decoration: none; color: black;">Virtual Connections</a></h2>
      <h4>Create Your Account.</h4>
    </div>
    <div class="auth-form-body">
      <label for="inputEmail">First Name</label>
      <input type="firstname" name="firstname" id="firstname" class="form-control" placeholder="First Name" required autofocus/>

      <label for="inputEmail">Last Name</label>
      <input type="lastname" name ="lastname" id="lastname" class="form-control" placeholder="Last Name" required autofocus>

      <label for="inputEmail">Email address</label>
      <input type="email" name = "inputEmail" id="inputEmail" class="form-control" placeholder="Email address" required autofocus>

      <label for="inputPassword">Password</label>
      <input type="password" name = "password" id="inputPassword" class="form-control" placeholder="Password" required>

      <label for="inputPassword2">Confirm Password</label>
      <input type="password" name = "password" id="inputPassword2" class="form-control" placeholder="Confirm Password" required>

      <button class="btn btn-lg btn-primary btn-block" type="submit">Sign Up</button>
    </div>
    <br>
    <p class="mt-5 mb-3 text-muted text-center">&copy; Spring 2020</p>
  </form>
</body>
</html>