h1 {
	background-color: rgb(255, 40, 40); 
	font-family: Dancing Script; 
	color: rgb(240,240,240); 
	margin-top: 0px; 
	margin-bottom: 0px;
	padding-bottom: 0.5em;
	padding-top: 0.5em; 
	text-align: center;
}