#buttonBar{
	margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
    width: 3vw;
    height: 3vw;
    position: fixed;
    top: 0.993vw;
    left: 1vw;
    background-color: rgb(199, 40, 40);
	border: .1325vw solid white;
    border: 0;
    color: black;
	transition-duration: 0.4s;
    font-size: 1.6vw;
}

#buttonBar:hover {
	background-color: var(--sidebar);
    border: .01335vw solid white;
	color: white;
}

#modal {
	margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
    display: none;
    position: fixed;
    z-index: 2;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: rgb(0,0,0);
    background-color: rgba(0,0,0,0.4);
}

#sidebar{
	margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
    position: fixed;
    left: 0;
    top: 0;
    z-index: 2;
    width: 0;
    height: 100%;
    background-color: var(--sidebar);
    overflow-x: hidden;
    transition: 0.4s;
}

#sidebar h2{
	margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
    text-align: center;
    color: white;
    font-size: 1.335vw;
    font-weight: 100;
}

.menuIcon{
	margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
    height: 1vw;
    width: 1vw;
}

#sidebar li {
	margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
    margin: 0 0 .006vw 1.5vw;
    list-style: none;
    font-size: 1vw;
}

#sidebar ul {
	margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
    margin: .265vw 0 .5vw 0;
}

:root {
    --sidebar: rgb(199, 33, 33);
}