html,
body {
  height: 100%;
}

body {
 /* display: -ms-flexbox;
  display: flex;
  -ms-flex-align: center;*/
  align-items: center;
  /*padding-top: 40px;
  padding-bottom: 40px;*/
  background-color: #f5f5f5;
}

h1 {
 /* display: block;
  margin-top: 20px;
  margin-bottom: 10px;
  margin-left: auto;
  margin-right: auto;
  border-style: inset;
  border-width: 1px;
  color: rgb(255, 60, 50);*/
  width: 100vw;
  font-family: Dancing Script;
  font-weight: bold;
  font-size: 5em;
  color:red;
  margin: auto;
  text-align: center;
  box-sizing: border-box;
}


.column {
  float: left;
  width: 50%;
  align-items: center;
  height: 100%;
}

.row {
  margin-left: 7em;
  margin-right: 0em;
  display: flex;
}

.row:after {
  content: "";
  display: table;
  margin-left: 7em;
  margin-right: 0em;
  clear: both;

}

.form-signup {
  width: 30vw;
  margin-left: calc((100vw - 38vw)/2);
}

/* #sign-up{
  width: 30vw;
  margin-left: calc((100vw - 30vw /2));
} */

.form-signup img{
  width: 20vw;
  margin: auto;
}

.form-signup .auth-form-body {
  padding: .75vw;
  background-color: rgb(255, 40, 40);
  border-top: 0.0665vw solid #d8dee2;
  border-radius: 0.331vw;
  color: rgb(240, 240, 240);
}
.form-signup .checkbox {
  font-weight: 400;
}
.form-signup .checkbox .form-check{
  float: left;
}
.form-signup .checkbox .label-link{
  float: right;
}
.form-signup .form-control {
  position: relative;
  box-sizing: border-box;
  
  padding: 0.53vw;
  font-size: 0.9275vw;
}
.form-signup .form-control:focus {
  z-index: 2;
}
.form-signup input[type="email"] {
  margin-bottom: .33125vw;
  border-bottom-right-radius: 0;
  border-bottom-left-radius: 0;
}
.form-signup input[type="password"] {
  margin-bottom: .33125vw;
  border-top-left-radius: 0;
  border-top-right-radius: 0;
}
.form-signup input[type="password2"] {
  margin-bottom: .6625vw;
  border-top-left-radius: 0;
  border-top-right-radius: 0;
}