*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Secular One', sans-serif;
}
html{
    font-size: 100%;
}
/*Formatting for the "Exalendar" title*/

.divright{
    border-style: solid;
}

.container{
    width: 100%;
    height: 100%;
    /* background-color: #FFFFFF;*/
    COLOR: #000000;
    display: flex;
    justify-content: center;
    align-items: center;
}

.calendar{
    width: 100%;
    height: 100%;
    background-color: #EFFFFF;
    border-style: solid;
    border-width: thin;
}

/*The area in which the title, month name and date are stored.*/
.month{
    width: 100%;
    height: 5rem;
    background-color: #F10020;
    align-items: center;
    padding: 0 2rem;
    text-align: center;
    display: flex;
}

.date{
    position: fixed;
    right: 45%;
    align-self: center;
}

/*Here are the arrows at the side of the main calendar*/
.arrow {
    border: solid black;
    border-width: 0 .35rem .35rem 0;
    display: inline-block;
    padding: .5rem;
  }
  
.right {
    transform: rotate(-45deg);
    -webkit-transform: rotate(-45deg);
    position: fixed;
    left: 56.2%
  }

.left {
    transform: rotate(135deg);
    -webkit-transform: rotate(135deg);
    position: fixed;
    left: 40%
  }

/*Arrows Stuff ends....*/

/*The Month itself "September" etc.*/
.month h2{
    font-size: 2rem;
    font-weight: 400;
    letter-spacing: 0.2rem;
}

/*The Date "Sun September 27, 2020"*/
.month p{
    font-size: 1rem;
    font-weight: 200;
    margin-bottom: .3rem;
}
/*weekdays container*/
.weekdays{
    width: 100%;
    height: 3rem;
    padding: 0 0.4rem;
    display: flex;
    align-items: center;
}


/*27      28      29    ...etc*/
.weekdays div{
    font-size: 1.5rem;
    font-weight: 400;
    letter-spacing: .1rem;
    width: calc(76.05rem/7); 
    /*the main container width (minus the weekdays padding) divided by the number of days in a week*/

    display: flex;
    justify-content: center;
    align-items: center;
}

.days{
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    padding: .3rem;
    align-items: center;
}

.days div{
    font-size: 1.4rem;
    width: calc(75.45rem/7);
    height: calc(43.05rem/5);
}

.event {
    padding: .4rem;
    list-style-type: none;
}

.active{
    background-color: #F8D4FF;
}

.next-date{
    color: grey;
}

.prev-date{
    color: lightgrey;
}

.days div:hover{
    border-style: solid;
    border-width: thin;
    border-color: #F10020;
}
.note{
    text-align: center;
}

.bodCal{
    background-color: grey;
}