.all{
    background-color: #2b2b2b;
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Secular One', sans-serif;
}

.sidebar{
    position: absolute;
    left:0;
    top: 0;
    z-index: 1;
    width: 20rem;
    height: 100%;
    border-right-style: solid;
    border-width: thick;
    border-color: black;
    background-color: rgb(199, 33, 33);
    transition: 1s ease;
}

.sidebar_small{
    width: 5rem;
}

.headerSidebar{
    text-align: center;
    background-color:maroon;
    height: 3rem;
    border-bottom-style: groove;
    border-color: #2e2727;
}

button{
    width: 1.7rem;
    height: 1.7rem;
    position: absolute;
    top: 0.7rem;
    right: 0.7rem;
    background-color: white;
    color: black;
    font-size: 1rem;
    float: right;
}

.sidebar h2{
    text-align: center;
    font-weight: 400;
    color: grey;
}
.sidebarMenu ul{
    padding-left: 3rem;
    list-style-type: none;
}

.menuIcon{
    height: 1.3rem;
    width: 1.3rem;
}
.sidebarMenu li{
    left: 50%;
    color: lightgrey;
}

.headerCalendar{
    position: fixed;
    top: 0;
    width: 100%;
    height: 3rem;
    background-color: transparent;
    border-color: transparent;
    border-left-style: groove;
    border-bottom-style: groove;
    text-align: center;
}

.headerCalendar li{
    display: inline;
}

.containerCalendar{
    position: fixed;
    top: 3rem;
    right: 0;
    width: 83.2%;
    height: 100%;
    border-left-style: groove;
    border-color: #2e2727;
}

.calendarMain{
    width: 76.45rem;
    height: 51.8rem;
    border-style: solid;
}

.noteContain{
    border-top-width: medium;
    background-color: whitesmoke;
    border-style: solid;
    border-right-width: thick;
    width: 22.7rem;
    height: 51.8rem;
}

.noteList{
    padding-top: .5rem;
    padding-bottom: .5rem;
}

.noteContain label{   
    text-align: center;
}

.noteLeft{
    position:relative;
    left: 1rem;
    width: calc(2.89*20.7rem/4);
}

.noteRight{
    position:relative;
    width: calc(25.7rem/4);
}

.noteRight li{
    text-align: center;
    list-style-type: none;
}

.center-header{
    text-align: center;
}

.footer{
    position: fixed;
    width: 100%;
    bottom:0;
    left: 0;
    z-index: 2;
    background-color: maroon;
    border-top-style: groove;
    border-color: #241e1e;
    /*border-style: solid;*/
    height: 6%;
}

.menu{
    align-items: center;
    text-align: center;
}
.menu li{
    display:inline;
}

.menu li a {
    position: relative;
    top:1rem;
    color: rgb(75, 72, 72);
    font-weight: 400;
    text-align: center;
    padding: 16px;
    text-decoration: none;
  }

.menuTop{
    align-items: center;
    text-align: center;
}
.menuTop li{
    display:inline;
    text-align: center;
}

.timeSpan {
    border-style: thin;
    border-color: black;
    border-bottom-color: maroon;

    color: black;
    font-weight: 900;
    font-size: 1.3rem;
    text-align: center;

    align-items: center;
    padding-right: 200px;

    background-color: #F10020;

    position: relative;
    top: 1rem;
  }