@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');
/* check out https://fonts.google.com/specimen/Roboto? for info on the different weights available */

body {
    background-color: #2b2b2b;
    font-size: 11.5pt;
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    /* font-family: 'Secular One', sans-serif; */
    font-family: 'Roboto', sans-serif;
}

#buttonBar{
    width: 2.5vw;
    height: 2.5vw;
    position: fixed;
    top: 15px;
    left: 1vw;
    background-color: white;
	border: 2px solid white;
    border: 0;
    color: black;
	transition-duration: 0.4s;
    font-size: 1.1vw;
}

#buttonBar:hover {
	background-color: var(--sidebar);
	color: white;
}

#modal {
    display: none;
    position: fixed;
    z-index: 2;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    /* background-color: rgb(0,0,0);
    background-color: rgba(0,0,0,0.4); */
    /* HG: unsure if i want things to be visibly shaded out */
}

#sidebar{
    position: fixed;
    left: 0;
    top: 0;
    /* left: 100vw; */
    z-index: 3;
    width: 0;
    /* width: 250px; */
    height: 100%;
    /* border-right-style: solid;
    border-width: thick; */
    /* border-color: rgb(136, 136, 136);
    border-style: outset;
    border-width: 0 10px 0 0; */
    background-color: var(--sidebar);
    overflow-x: hidden;
    transition: 0.4s;
}

#sidebar h2{
    text-align: center;
    color: white;
    font-size: 20px;
    font-weight: 100;
}

.menuIcon{
    height: 1rem;
    width: 1rem;
}

#sidebar li {
    margin: 0 0 1px 1.5vw;
    list-style: none;
}

#sidebar ul {
    margin: 4px 0 7px 0;
}

.headerCalendar{
    position: fixed;
    top: 0;
    width: 100%;
    height: 3rem;
    background-color: transparent;
    border-color: transparent;
    border-left-style: groove;
    border-bottom-style: groove;
    text-align: center;
}

.headerCalendar li{
    display: inline;
}

.calendar {
   /* width: 76.45rem;
    height: 51.8rem;*/
    /* border-style: solid; */
    border: none;
    position: fixed;
    left: 4.5vw;
    top: 15px;
    height: calc(100vh - 55px);
    width: 62.5vw;
}

.noteContain{
    /* border-top-width: medium; */
    background-color: whitesmoke;
    /* border-style: solid;
    border-right-width: thick; */
    /* width: 22.7rem;
    height: 51.8rem; */
    position: fixed;
    width: 31vw;
    left: 68vw;
    top: 15px;
    height: calc(100vh - 55px);
}

.noteList{
    padding-top: .5rem;
    padding-bottom: .5rem;
}

.noteContain label{   
    text-align: center;
}

.noteLeft{
    position:relative;
    left: 1rem;
    width: calc(2.89*20.7rem/4);
}

.noteRight{
    position:relative;
    width: calc(25.7rem/4);
}

.noteRight li{
    text-align: center;
    list-style-type: none;
}

.center-header{
    text-align: center;
}

.menuTop{
    align-items: center;
    text-align: center;
}
.menuTop li{
    display:inline;
    text-align: center;
}

.timeSpan {
    border-style: ridge;
    border-color: #000000;
    border-bottom-color: maroon;

    color: black;
    font-weight: 900;
    font-size: 1.3rem;
    text-align: center;

    align-items: center;
    padding-right: 200px;

    background-color: #F10020;

    position: relative;
    top: 1rem;
}

#main {
  transition: margin-left .5s; /* If you want a transition effect */
  padding: 20px;
}
#containCalendar {
  transition: margin-left .5s; /* If you want a transition effect */
  
}

:root {
    --sidebar: rgb(199, 33, 33);
}