  * {
    box-sizing: border-box;
  }
  
  .main-content {
    width: 100%;
    height: 100%;
    z-index: -1;
    background-color: #F10020;
    position: fixed;
    transition: margin-left .5s;
    padding: 0px;
  }
  
  .sidebar {
    float: left;
    left: 0%;
    top: 0;
    position: fixed;
    z-index: 1;
    width: 0%;
    height: 100%;
    background-color: rgb(255, 45, 50);
    transition: 0.5s ease;
    color:white;
    overflow-x: hidden;
  }

  .sidebar_small {
    width: 8.33%;
  }
  
  button {
    border: none;
    height: 40px;
    width: 40px;
    z-index: 2;
    border-radius: 50%;
    box-shadow: 0px 1px 4px 1px rgba(0 ,0, 0, .3);
    right: 0;
    top: 0;
    cursor: pointer;
  }

  .link-button {
    text-decoration: none;
    background-color: #EEEEEE;
    color: #333333;
    padding: 2px 6px 2px 6px;
    border-top: 1px solid #CCCCCC;
    border-right: 1px solid #333333;
    border-bottom: 1px solid #333333;
    border-left: 1px solid #CCCCCC;
  }

  .header {
    height: 13%;
    width: 100%;
    z-index: -1;
    float: center;
    background-color: #111;
    font-family: Dancing Script;
    font-weight: bold;
    font-size: 4em;
    color: red;
    text-align:center;
    border-bottom: 3px solid black;

  }

  [class*="option-"] {
    float: left;
    height: 90%;
    padding: 20px;
    border-style: solid;
    border-width: 2px;
    border-top: 0px;
    background-color: #e5dcdc;
  }

  .option-desc {
    width: 30%;
    margin-left: 20%;
    border-right: 0px;
  }

  .option-do {
    width: 30%;
    float: none;
    margin: 0 auto;
  }

  body { 
    margin: 0; 
    padding: 0; 
  }

    h1 {
    font-family: Dancing Script;
    font-weight: bold;
    font-size: 5em;
    color:red;
  }


  ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
}

li {
  float: left;
}

li a {
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

li a:hover {
  background-color: #000;
}
.smaller-text {
  font-size:1em;
}