@import "standard.css";
@import "sidebar.css";
@import "footer.css";

body {
    background-color: rgba(0,0,0,0.9);
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
}

#addevent-btn {
    border-radius: 50%;
    height: 20px;
    width: 20px;
    position: absolute;
    left: 4px;
    top: 4px;
    background-color: white;
    border: solid black 2px;
    font-weight: 500;
    transition-duration: 0.4s;
}

#addevent-btn:hover {
    border: solid red 2px;
    color: red;
}

#addevent-menu {
    display: none;
    background-color: white;
    position: fixed;
    height: 40vh;
    width: 40vw;
    z-index: 2;
    left: 30vw;
    top: 30vh;
    border-radius: 10px;
    padding: 10px;
}

#addevent-menu input, #addevent-menu select, #addevent-menu textarea {
    border-radius: 3px;
    border: solid 0.65px;
}

.calendar {
    border: none;
    position: fixed;
    left: 1.1vw;
    top: 15px;
    height: calc(100vh - 55px);
    width: 70.9vw;
}

.noteContain{
    background-color: white;
    position: fixed;
    width: 25.6vw;
    left: 73vw;
    top: 15px;
    height: calc(100vh - 55px);
}

.noteList{
    padding-top: .5rem;
    padding-bottom: .5rem;
}

.noteContain label{   
    text-align: center;
}

.noteLeft{
    position:relative;
    left: 1rem;
    width: calc(2.89*20.7rem/4);
}

.noteRight{
    position:relative;
    width: calc(25.7rem/4);
}

.noteRight li{
    text-align: center;
    list-style-type: none;
}

.center-header{
    text-align: center;
}

.menuTop{
    align-items: center;
    text-align: center;
}
.menuTop li{
    display:inline;
    text-align: center;
}

.timeSpan {
    border-style: ridge;
    border-color: #000000;
    border-bottom-color: maroon;
    color: black;
    font-weight: 900;
    font-size: 1.3rem;
    text-align: center;
    align-items: center;
    padding-right: 200px;
    background-color: #F10020;
    position: relative;
    top: 1rem;
}

#containCalendar {
  transition: margin-left .5s; /* If you want a transition effect */
}